@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    //01.01 Brand Colors
    --brand-blue: #3b2186;
    --brand-yellow: #f2cf7e;
    --brand-black: #2a2a38;
    //01.02 Expanded
    --success: #74b566;
    --info: #76bedb;
    --warning: #e6af5f;
    --error: #c95c54;
    //01.03 Gray
    --gray80: #555560;
    --gray60: #7f7f88;
    --gray40: #aaaaaf;
    --gray20: #d4d4d7;
    --gray10: #eaeaeb;
    // /01.04 Content
    --heading: #2a2a38;
    --title: #222222;
    --body: #444444;
    //01.05 Line
    --line1: #ececec;
    //01.06 Icon
    --white: #ffffff;
    //01.07 Background
    --yellow-light: #f9f5e6;
    --blue-dark: #2b146c;
}

* {
    box-sizing: border-box;
}

//02.01 HeadlInes
.h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
}
.h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
}
.h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}
.h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

//03.01 Body Text
.body-l {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.body-l--medium {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.body-l--bold {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.body-m {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.body-m--medium {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.body-m--large {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.body-m--bold {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.body-s {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.body-s--medium {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.body-s--bold {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}
.body-xs {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
//Buttons

.button-s {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}
.button-m {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.button-xs {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}
